ASSEMBLYAI_API_KEY=cff62f8698014583b1e5f59a268fad92
APP_NAME=Vivaguard Broker
HOST=0.0.0.0
PORT=8000
MAX_REQUESTS_PER_MINUTE=60
TOKENS_PER_REQUEST=1
TOKEN_BUCKET_CAPACITY=50
TOKEN_BUCKET_REFILL_RATE=5.0
